{% extends "base.html" %}

{% block content %}
<div class="contact">
	<div class="container">
		<div class="contact-head">
			<h3>Авторизация</h3>
			<form action="/auth" method="post">
				<div class="col-md-6 contact-left">
					<input name="login" type="text" placeholder="Имя" required />
					<input name="password" type="text" placeholder="Пароль" required />
				</div>
				<div class="col-md-6 contact-right">
					<input type="submit" value="login" />
				</div>
				<div class="clearfix"></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}