{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="content-grids">
            <div class="col-md-8 content-main">
                <div class="content-grid"> </div>

                {% for post in posts %}
                <div class="content-grid-sec">
                    <div class="content-sec-info">
                        <h3><a href="/post/{{ post.code }}">{{ post.title }}</a></h3>
                        <h4>{{ post.date }}<a href="#">{{ post.user }}</a></h4>
                        <p>{{ post.preview }}</p>
                        <a class="bttn" href="/post/{{ post.code }}">Подробней</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% endblock %}