{% extends "base.html" %}

{% block content %}

<div class="content">
	<div class="container">
		<div class="content-grids">
			<div class="col-md-8 content-main">
				<div class="content-grid">
					<div class="content-grid-single">
						<h3>{{ post.title }}</h3>
						<p>{{ post.content }}</p>
						<div class="content-form"> </div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

{% endblock %}